= render 'admin/title', title: 'Editing Banner', link_text: '+ Add banner', link_path: new_admin_banner_path
= render 'layouts/categories_list'
= render 'form', banner: @banner, url: admin_banner_path
