= render 'admin/title', title: 'Editing Article', link_text: '+ Add article', link_path: new_admin_category_article_path(@article.category_id)
= render 'layouts/categories_list'
= render 'form', article: @article, url: admin_category_article_path(@article.category_id)
