h1
  = @category.name
.articles-container
  - @articles.each do |article|
    = link_to article_url(article.id) do
      .card.article-item
        - unless article.image.file.nil?
          = image_tag article.image.thumb.url, class: "card-img-top"
        .card-body
          h5.card-title
            = article.title
          p.card-text
            = article.body[0..100]
