<h1>Editing Category</h1>

<%= render 'admin/title', title: 'Editing Category', link_text: '+ Add category', link_path: new_admin_category_path %>
<%= render 'layouts/categories_list' %>

<%= render 'form', category: @category, url: admin_category_path %>
