$primary: #D72130;

@import "bootstrap";

html {
  font-family: "Open Sans";
}

a {
  text-decoration: none!important;
}

.switch-view {
  border-radius: 100px;
}

.wrapper {
  margin: 10px;
}

.header-wrapper {
  display: flex;
}

.header-wrapper > div {
  padding: 20px;
}

.logo {
  background-color: $primary;
  padding: 20px 30px;
}
.logo a, .logo a:hover, .logo a:visited {
  color: white;
}

a {
  color: #B2B2B2;
}

a:hover {
  color: #B2B2B2;
}

.site-footer {
  background-color: $primary;
  color: white;
  padding: 10px
}

.line {
  border-top: 1px solid grey;
  margin: 60px 0;
}

.header-username {
  font-weight: bold;
  font-size: small;
}

.header-container {
  justify-content: flex-end !important;
}

.header-element-sport {
  margin: 0 20px;
}

.articles-container {
  display: flex;
  justify-content: flex-start;
}

.article-item {
  width: 18rem;
  margin: 0 20px;
}

.nav-sport {
  font-weight: bold;
  margin: 30px;
}

.nav-item-sport {
  margin: 10px;
  text-transform: uppercase;
}

.footer-item {
  margin: 10px;
  font-size: 12px;
}

.admin-categories-nav {
  list-style-type: none;
  justify-content: space-around;
  display: flex;
}

.admin-categories-nav-item {
  font-weight: bold;
  text-transform: uppercase;
}

.admin-article {
  display: flex; justify-content: flex-start; margin: 20px;
}

.admin-article-image {
  width: 300px;
}

.admin-article-title {
  display: flex;
  justify-content: space-between;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-toggle-article {
  cursor: pointer;
}

.comments-block {
  border-top: 1px solid #D8D8D8;
  display: flex;
  justify-content: flex-end;
}

.comment-button {
  font-weight: bold;
  color: #B2B2B2;
  margin-right: 5px;
  cursor: pointer;
}

.date-block {
  color: #B2B2B2;
  font-size: small;
}

.date {
  font-weight: bold;
  margin-right: 5px;
}

.comments-wrapper {
  border: 1px solid #D8D8D8;
}

.comments-header {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.comment {
  margin: 20px;
  padding: 10px;
}

.comments {
  margin-top: 40px;
}

.add-comment {
  margin: 20px;
  justify-content: flex-end;
  display: flex;
}

.add-comment > button {
  margin-left: 10px;
}

.article-in-search {
  margin: 30px 0;
}

.main-page-header {
  margin: 40px 0;
}