<div class="footer">
  <div class="row">
    <% @page_categories.each do |page_category| %>
      <div class="col-md-4">
        <h4><%= page_category.name %></h4>
        <%= render 'layouts/footer_col', pages: @pages.select { |p| p.page_category.id == page_category.id } %>
      </div>
    <% end %>
  </div>
</div>