<div class="footer">
  <div class="row">
    <div class="col-md-4">
      <h4>Company info</h4>
      <%= render 'layouts/footer_col', category: Page::CATEGORY_COMPANY_INFO %>
    </div>
    <div class="col-md-4">
      <h4>Contributors</h4>
      <%= render 'layouts/footer_col', category: Page::CATEGORY_CONTRIBUTORS %>
    </div>
    <div class="col-md-4">
      <h4>Newsletter</h4>
    </div>
  </div>
</div>