<ul class="nav flex-column nav-sport">
  <li class="nav-item nav-item-sport">
    <%= link_to 'Home', root_path %>
  </li>
  <% @categories.each do |category| %>
    <li class="nav-item nav-item-sport">
      <%= link_to category.name, articles_by_category_url(category) %>
    </li>
  <% end %>
</ul>