ul.nav.flex-column.nav-sport
  li.nav-item.nav-item-sport
    = link_to 'Home', root_path
  - @categories.each do |category|
    li.nav-item.nav-item-sport
      = link_to category.name, articles_by_category_url(category)
